---
import Layout from "../layouts/layout.astro";
import { highlightedTechnologies, technologies } from "../data/technologies";
import { contact } from "../data/contact";
import Testimonial from "../components/testimonial.astro";
import Card from "../components/card.astro";
import metadata from "../../metadata.json";
import { Icon } from "astro-icon/components";
import { Content as ProjectsContent } from "../content/projects.md";
import { Content as ServicesContent } from "../content/services.md";
import { Content as BenefitsContent } from "../content/benefits.md";
import { Content as AboutContent } from "../content/about.md";
import { Image } from "astro:assets";
import heroImage from "../assets/brand/mikael-lirbank.jpg";
import { getCollection, render } from "astro:content";

const allTestimonials = await getCollection("testimonials");
const clientTestimonials = allTestimonials
  .filter((t) => !t.data.featured)
  .sort((a, b) => (a.data.order ?? 99) - (b.data.order ?? 99));
const featuredTestimonial = allTestimonials.find((t) => t.data.featured);

const talks = await getCollection("talks");
const sortedTalks = talks.sort(
  (a, b) => (a.data.order ?? 99) - (b.data.order ?? 99),
);
---

<Layout>
  <main id="main" class="scroll-mt-20">
    <!-- 1. Hero -->
    <container>
      <!-- {nextTalk ? (
          <div class="bg-cyan-600 px-8 py-2 text-center text-white">
            I'm speaking at{" "}
            <span class="text-nowrap">{nextTalk.host.name}</span> on{" "}
            <span class="text-nowrap">
              {nextTalk.date} —{" "}
              <a
                href={nextTalk.ticketUrl}
                target="_blank"
                class="text-cyan-50 underline hover:text-white"
              >
                Register here
              </a>
            </span>
          </div>
        ) : null} -->
      <div class="bg-cyan-600 px-8 py-2 text-center text-white">
        My new guest post on integration testing with Neon and Vitest, read it
        on{" "}
        <a
          href="https://neon.com/blog/neon-testing-a-vitest-library-for-your-integration-tests"
          target="_blank"
          class="text-nowrap text-cyan-50 underline hover:text-white"
        >
          Neon.com
        </a>
      </div>
      <section
        aria-labelledby="main"
        class="flex flex-col gap-10 sm:grid sm:grid-cols-2"
      >
        <h1 class="text-center sm:text-left">
          Ship AI systems with confidence
        </h1>
        <Image
          class="mx-auto size-64 rounded-full object-cover sm:row-span-2 sm:rounded sm:shadow"
          src={heroImage}
          alt="Mikael Lirbank, a web development expert smiling at the camera"
          width={512}
          height={512}
          quality={80}
          loading="eager"
        />
        <div class="flex flex-col gap-2">
          <div>
            <h3>Mikael Lirbank</h3>
            <p>{metadata.description}</p>
          </div>
          <div class="flex gap-2">
            {
              contact.map(({ href, icon, label }) => (
                <a href={href} aria-label={label} title={label}>
                  <Icon name={icon} class="size-8" />
                </a>
              ))
            }
          </div>
        </div>
      </section>
    </container>

    <!-- 2. Testimonials -->
    <container>
      <section aria-labelledby="reviews">
        <h2 id="reviews" class="scroll-mt-20">What people say</h2>
        <p>
          My peers and clients often point out my attention to detail and
          excellent communication skills.
        </p>
        {
          clientTestimonials.map((testimonial) => (
            <Testimonial testimonial={testimonial} />
          ))
        }
      </section>
    </container>

    <!-- 3. Projects -->
    <container>
      <section aria-labelledby="projects">
        <h2 id="projects" class="scroll-mt-20">Guest posts</h2>
        <!-- <p>
            I enjoy sharing my expertise through technical writing, contributing
            insights on modern development practices, testing strategies, and
            emerging technologies.

             I enjoy sharing my expertise through
            technical writing and contributing to the developer community.

          </p> -->
        <p class="text-base! text-stone-500">Sep 09, 2025</p>
        <h3 class="mt-1!">
          Neon Testing: a Vitest Library for Your Integration Tests
        </h3>
        <p>
          🚀 My guest post for the Neon blog is live! Want to make Postgres
          integration testing dead simple? Read on:
        </p>
        <p class="mt-!">
          <a
            href="https://neon.com/blog/neon-testing-a-vitest-library-for-your-integration-tests"
            target="_blank"
            class="link"
          >
            Set up disposable Postgres test databases powered by Neon branching
          </a>
        </p>
      </section>
    </container>
    <container>
      <section>
        <h2 class="scroll-mt-20">Open source</h2>
        <p>Author and maintainer of these projects.</p>
        <h3>Neon Testing</h3>
        <p>
          A{" "}
          <a href="https://vitest.dev/" target="_blank" class="link">Vitest</a>{
            " "
          }
          utility for seamless integration tests with{" "}
          <a href="https://neon.com/" target="_blank" class="link">
            Neon Postgres
          </a>.
        </p>
        <div class="mt-4 flex flex-col gap-2">
          <div class="flex items-center gap-4">
            <Icon name="simple-icons:npm" class="size-6" />
            <a
              href="https://www.npmjs.com/package/neon-testing"
              target="_blank"
              class="link"
            >
              npmjs.com/package/neon-testing
            </a>
          </div>
          <div class="flex items-center gap-4">
            <Icon name="simple-icons:github" class="size-6" />
            <a
              href="https://github.com/starmode-base/neon-testing"
              target="_blank"
              class="link"
            >
              github.com/starmode-base/neon-testing
            </a>
          </div>
        </div>
        <h3>PimDB</h3>
        <p>
          A lightweight, persisted in-memory database built from the ground up
          for the browser. PimDB provides fast and efficient text indexing with
          substring, n-gram, and sorted indexes, enabling quick lookups for
          partial and exact matches. It's <strong>4,000x+ faster</strong>{" "}
          than Array.filter for sorted lookups and{" "}
          <strong>700x+ faster</strong> for substring searches on a dataset of 100,000
          documents.
        </p>
        <div class="mt-4 flex flex-col gap-2">
          <div class="flex items-center gap-4">
            <Icon name="simple-icons:npm" class="size-6" />
            <a
              href="https://www.npmjs.com/package/pimdb"
              target="_blank"
              class="link"
            >
              npmjs.com/package/pimdb
            </a>
          </div>
          <div class="flex items-center gap-4">
            <Icon name="simple-icons:github" class="size-6" />
            <a
              href="https://github.com/lirbank/pimdb"
              target="_blank"
              class="link"
            >
              github.com/lirbank/pimdb
            </a>
          </div>
        </div>
        <h3>Google Calendar URL</h3>
        <p>Generate shareable URLs for adding Google Calendar events.</p>
        <div class="mt-4 flex flex-col gap-2">
          <div class="flex items-center gap-4">
            <Icon name="simple-icons:npm" class="size-6" />
            <a
              href="https://www.npmjs.com/package/google-calendar-url"
              target="_blank"
              class="link"
            >
              npmjs.com/package/google-calendar-url
            </a>
          </div>
          <div class="flex items-center gap-4">
            <Icon name="simple-icons:github" class="size-6" />
            <a
              href="https://github.com/lirbank/google-calendar-url"
              target="_blank"
              class="link"
            >
              github.com/lirbank/google-calendar-url
            </a>
          </div>
        </div>
      </section>
    </container>
    <container>
      <section class="markdown">
        <h2>Select commercial projects</h2>
        <ProjectsContent />
      </section>
    </container>

    <!-- 4. Services -->
    <container>
      <section aria-labelledby="services" class="markdown">
        <h2 id="services" class="block scroll-mt-20">
          Things I'd love to take off your plate
        </h2>
        <ServicesContent />
      </section>
    </container>

    <!-- 5. Benefits -->
    <container>
      <section aria-labelledby="benefits" class="markdown">
        <h2 id="benefits" class="scroll-mt-20">Why work with me</h2>
        <BenefitsContent />
      </section>
    </container>

    <!-- 6. Contact -->
    <container>
      <section aria-labelledby="contact">
        <h2 id="contact" class="scroll-mt-20">Let's get to work</h2>
        <p>
          Ready to take your web app to the next level? I am here to help.
          Whether you need an urgent fix or a long-term partner, let's make it
          happen. The sky's the limit.
        </p>
        <ul class="ml-4 flex list-disc flex-col gap-2">
          {
            contact
              .filter((e) => e.type === "contact" || e.id === "linkedIn")
              .map(({ href, label, text, cta }) => (
                <li>
                  <span class="font-semibold">{cta}: </span>
                  <a href={href} aria-label={label} title={label} class="link">
                    {text}
                  </a>
                </li>
              ))
          }
        </ul>
        <p>
          <a
            href="/brand/mikael-lirbank.jpg"
            download="mikael-lirbank.jpg"
            class="link"
          >
            High-res photo of me
          </a>
        </p>
      </section>
    </container>

    <!-- 7. Talks -->
    <container>
      <section aria-labelledby="about">
        <h2 id="talks" class="scroll-mt-20">Talks</h2>
        <p>
          I speak at meetups, conferences, and private corporate events about
          leveraging AI to build better software.
        </p>
        <div class="-mx-4 grid gap-4 py-4 md:grid-cols-2">
          {
            sortedTalks.map(async (talk) => {
              const { Content } = await render(talk);
              return (
                <Card>
                  <div class="talk-content flex h-full flex-col">
                    <Content />
                  </div>
                </Card>
              );
            })
          }
        </div>
        <h3>
          <span class="font-bold">Synopsis:</span> Leading LLMs
        </h3>
        <p class="font-semibold">
          A structured approach to building quality software with AI
        </p>
        <p>
          AI dramatically accelerates software development, but how it is used
          often compromises quality and structure. Without a clear process,
          AI-generated code can become inconsistent and difficult to maintain.
        </p>
        <p>
          In my recent work, I've been developing a way to use AI to write
          high-quality, well-tested, and high-performing code really fast. This
          approach is inspired by my work building PimDB, a browser-based
          persisted in-memory database. In this talk, we'll explore a structured
          process to empower teams to leverage AI to tackle complex projects
          with incredible velocity without compromising on quality.
        </p>
        <p>We'll cover:</p>
        <ol class="ml-5 flex list-decimal flex-col gap-2">
          <li>API design and architecture</li>
          <li>Writing tests</li>
          <li>Performance benchmarking</li>
          <li>Writing documentation</li>
          <li>Implementation and optimization</li>
        </ol>
        <p>
          Attendees will gain practical strategies for using AI to write
          maintainable, reliable code at AI speed—without compromising on
          quality.
        </p>
        <h3>What people say</h3>
        {
          featuredTestimonial && (
            <Testimonial testimonial={featuredTestimonial} />
          )
        }
      </section>
    </container>

    <!-- 8. About -->
    <container>
      <section aria-labelledby="about" class="markdown">
        <h2 id="about" class="scroll-mt-20">About me</h2>
        <AboutContent />
        <p>
          <a
            href="/brand/mikael-lirbank.jpg"
            download="mikael-lirbank.jpg"
            class="link"
          >
            High-res photo of me
          </a>
        </p>
        <h3>Technologies & tooling</h3>
        <p>I thrive with these tools and technologies.</p>
        <div class="-mx-4 flex flex-wrap justify-center gap-1 pt-4">
          {
            technologies
              .toSorted((a, b) => a[0].localeCompare(b[0]))
              .map(([name, url]) => (
                <div
                  class={
                    "rounded-lg px-3 py-1 text-sm text-nowrap" +
                    (highlightedTechnologies.includes(name)
                      ? " bg-cyan-50 font-medium text-cyan-900"
                      : " bg-stone-50")
                  }
                >
                  <a href={url} target="_blank" class="no-style">
                    {name}
                  </a>
                </div>
              ))
          }
        </div>
      </section>
    </container>
  </main>
</Layout>
